@import url(reset.css);
html {
  font-size: 62.5%;
}
section::-webkit-scrollbar {
  width: 0;
}
html,
body,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  width: 100%;
  height: 0.87rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.container header span {
  padding-left: 0.3rem;
}
.container header span img {
  width: 0.4rem;
  height: auto;
  background: none;
}
.container header h1 {
  -webkit-box-flex: 1;
  padding-left: 1.27rem;
  font-size: 0.36rem;
  font-weight: normal;
  color: white;
}
.container section {
  position: relative;
}
.container section .box {
  width: 100%;
  height: 0.9rem;
  background: #f3f3f5;
  overflow: hidden;
}
.container section .box .one {
  width: 5.8rem;
  height: 0.59rem;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 0.1rem;
  margin-top: 0.16rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.container section .box .one input {
  width: 5.8rem;
  height: 0.59rem;
  border-radius: 0.1rem;
  background: url(../img/search-icon.png) no-repeat 0.13rem center;
  background-size: 0.26rem;
  border: none;
  outline: none;
  text-indent: 0.48rem;
}
.container section .box2 {
  width: 100%;
  height: 1.21rem;
  background: #ffffff;
}
.container section .box2 p {
  font-size: 0.22rem;
  color: #999999;
  padding-top: 0.24rem;
}
.container section .box2 p span {
  padding-right: 0.15rem;
  padding-left: 0.29rem;
}
.container section .box2 p span img {
  width: 0.22rem;
  height: auto;
  background: none;
}
.container section .box2 h1 {
  font-size: 0.25rem;
  color: #4194f0;
  font-weight: normal;
  padding-top: 0.07rem;
  padding-left: 0.62rem;
}
.container section .box3 {
  height: 0.9rem;
  background: #f3f3f5;
  overflow: hidden;
  width: 100%;
  height: 8.2rem;
  background: none;
}
.container section .box3 .one {
  width: 5.8rem;
  height: 0.59rem;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 0.1rem;
  margin-top: 0.16rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.container section .box3 .one input {
  width: 5.8rem;
  height: 0.59rem;
  border-radius: 0.1rem;
  background: url(../img/search-icon.png) no-repeat 0.13rem center;
  background-size: 0.26rem;
  border: none;
  outline: none;
  text-indent: 0.48rem;
}
.container section .box3 .left {
  width: 5.88rem;
  height: 8.2rem;
  background: #ffffff;
  -webkit-box-flex: 1;
}
.container section .box3 .left .two {
  width: 5.88rem;
  height: 0.45rem;
  background: #f3f3f5;
}
.container section .box3 .left .two p {
  font-size: 0.26rem;
  padding-left: 0.32rem;
  line-height: 0.45rem;
}
.container section .box3 .left .three {
  width: 5.35rem;
  height: 1rem;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
  margin-left: 0.29rem;
}
.container section .box3 .left .three h1 {
  font-weight: normal;
  font-size: 0.26rem;
  color: #4194f0;
  line-height: 1rem;
}
.container section .box3 .right {
  width: 0.52rem;
  height: 8.2rem;
  background: #ffffff;
  margin-left: 5.88rem;
  margin-top: -8.2rem;
}
.container section .box3 .right ul {
  padding-top: 0.33rem;
}
.container section .box3 .right ul li {
  height: 0.26rem;
  text-align: center;
  line-height: 0.32rem;
  color: #4194f0;
}
.footer {
  width: 0.8rem;
  height: 0.8rem;
  background: #4194f0;
  margin-top: -1rem;
  position: absolute;
  border-radius: 0.1rem;
  top: 5.8rem;
  left: 2.7rem;
}
.footer p {
  font-size: 0.33rem;
  text-align: center;
  line-height: 0.8rem;
  color: white;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  width: 100%;
  height: 0.87rem;
  background: #4194f0;
}
.container section {
  -webkit-box-flex: 1;
  background: #f3f4f8;
}
.container section .box10 {
  width: 100%;
  height: 1rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.container section .box10 span {
  padding-left: 0.32rem;
  padding-right: 0.2rem;
}
.container section .box10 span img {
  width: 0.34rem;
  height: auto;
  background: none;
}
.container section .box10 h1 {
  -webkit-box-flex: 1;
  font-size: 0.28rem;
  font-weight: normal;
}
.container section .box10 h2 {
  font-size: 0.4rem;
  font-weight: normal;
  color: #4194f0;
  padding-right: 0.3rem;
}
.container section .box10 h2 span {
  font-size: 0.2rem;
  padding-right: 0.05rem;
}
.container section .box9 {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
  height: 0.77rem;
  background: #f3f4f8;
}
.container section .box9 p {
  padding-top: 0.28rem;
  padding-left: 0.32rem;
  font-size: 0.25rem;
}
.container section .box8 {
  width: 100%;
  height: 0.91rem;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}
.container section .box8 .check {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.3rem;
  padding-top: 0.25rem;
}
.container section .box8 .check input[type='checkbox'] {
  display: none;
}
.container section .box8 .check input[type='checkbox'] + label {
  width: .38rem;
  height: .38rem;
  background: url(../img/checked-mark.png) no-repeat bottom;
  background-size: .38rem auto;
  display: block;
}
.container section .box8 .check input[type='checkbox']:checked + label {
  background-position: 0 0;
}
.container section .box8 .check span {
  display: block;
  padding-left: 0.27rem;
  padding-top: 0.05rem;
}
.container section .box8 .check span img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .box8 .check p {
  -webkit-box-flex: 1;
  padding-left: 0.26rem;
}
.container section .box8 .check h1 {
  padding-right: 0.3rem;
  color: #fb2764;
  font-size: 0.21rem;
}
.container section .box7 {
  width: 100%;
  height: 0.91rem;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}
.container section .box7 .check {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.3rem;
  padding-top: 0.25rem;
}
.container section .box7 .check input[type='checkbox'] {
  display: none;
}
.container section .box7 .check input[type='checkbox'] + label {
  width: .38rem;
  height: .38rem;
  background: url(../img/checked-mark.png) no-repeat bottom;
  background-size: .38rem auto;
  display: block;
}
.container section .box7 .check input[type='checkbox']:checked + label {
  background-position: 0 0;
}
.container section .box7 .check span {
  display: block;
  padding-left: 0.27rem;
  padding-top: 0.05rem;
}
.container section .box7 .check span img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .box7 .check p {
  -webkit-box-flex: 1;
  padding-left: 0.26rem;
}
.container section .box6 {
  width: 100%;
  height: 0.91rem;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}
.container section .box6 .check {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.3rem;
  padding-top: 0.25rem;
}
.container section .box6 .check input[type='checkbox'] {
  display: none;
}
.container section .box6 .check input[type='checkbox'] + label {
  width: .38rem;
  height: .38rem;
  background: url(../img/checked-mark.png) no-repeat bottom;
  background-size: .38rem auto;
  display: block;
}
.container section .box6 .check input[type='checkbox']:checked + label {
  background-position: 0 0;
}
.container section .box6 .check span {
  display: block;
  padding-left: 0.27rem;
  padding-top: 0.05rem;
}
.container section .box6 .check span img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .box6 .check p {
  -webkit-box-flex: 1;
  padding-left: 0.26rem;
}
.container footer {
  width: 100%;
  height: 1.16rem;
  background: none;
}
.container footer .di {
  width: 5.82rem;
  height: 0.85rem;
  background: #4194f0;
  margin: 0 0.28rem;
  border-radius: 0.1rem;
}
.container footer .di p {
  text-align: center;
  font-size: 0.31rem;
  line-height: 0.85rem;
}
.container footer .di p a {
  color: white;
}
.one {
  width: 100%;
  height: 0.88rem;
  background: #f3f3f5;
}
.one form .first {
  width: 4.82rem;
  height: 0.6rem;
  margin-left: 0.3rem;
  margin-top: 0.14rem;
  background: #ffffff url(../img/未标题-2.gif) no-repeat 0.1rem center;
  background-size: 0.26rem;
  border-radius: 0.05rem;
  outline: none;
  border: none;
  text-indent: 0.5rem;
}
.one form .er {
  width: 0.85rem;
  height: 0.6rem;
  border-radius: 0.05rem;
  outline: none;
  border: none;
  border: 1px solid #e3e3e3;
  background: #eaeaea;
  text-align: center;
}
.two {
  width: 100%;
  height: 9.7rem;
  background: #ffffff;
}
.two {
  width: 100%;
  height: 9.7rem;
  background: #ffffff;
  overflow: hidden;
}
.two .li {
  width: 5.27rem;
  height: 2.23rem;
  background: none;
  margin-top: 2.28rem;
  margin-left: 0.61rem;
}
.two .li P {
  margin-left: 1.96rem;
}
.two .li P img {
  width: 1.34rem;
  height: auto;
  background: none;
}
.two .li h1 {
  text-align: center;
  margin-top: 0.28rem;
  color: #cccccc;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container header form {
  margin-left: 0.98rem;
  -webkit-box-flex: 1;
}
.container header form input {
  width: 3.04rem;
  height: 0.51rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background: #3586e1 url(../img/未标题-7.gif) no-repeat 0.24rem center;
  background-size: 0.28rem;
  text-indent: 0.7rem;
  color: #fff;
  font-size: 0.32rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container header dl {
  margin-right: 0.24rem;
}
.container header dl dt {
  padding-top: 0.15rem;
  text-align: center;
}
.container header dl dt img {
  width: 0.34rem;
  height: auto;
  background: none;
}
.container header dl dd {
  margin-top: -0.1rem;
  color: #fff;
}
.container section {
  -webkit-box-flex: 1;
  background: none;
}
.container section .t {
  width: 100%;
  height: 3rem;
  background: #adff2f;
}
.container section .t img {
  width: 6.4rem;
  height: auto;
  background: none;
}
.container section .s {
  overflow: hidden;
  width: 100%;
  height: 6.52rem;
  background: none;
}
.container section .s h1 {
  margin-top: 0.79rem;
  margin-left: 2.02rem;
}
.container section .s h1 img {
  width: 2.26rem;
  height: auto;
  background: none;
}
.container section .s p {
  font-size: 0.24rem;
  color: #8b8b8b;
  margin-left: 1.35rem;
  margin-top: 0.35rem;
}
.container section .s form {
  margin-left: 1.48rem;
  margin-top: 0.48rem;
}
.container section .s form input {
  border-radius: 0.2rem;
  width: 3.42rem;
  height: 0.76rem;
  outline: none;
  border: none;
  border: 2px solid dodgerblue;
  font-size: 0.33rem;
  text-align: center;
  color: dodgerblue;
}
.container footer {
  width: 100%;
  height: 0.98rem;
  background: #ffffff;
  background: #fff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container footer dl {
  -webkit-box-flex: 1;
  margin-left: 0.86rem;
}
.container footer dl dt img {
  width: 0.4rem;
  height: auto;
  background: none;
}
.container footer dl:first-child dd {
  color: deepskyblue;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header h1 {
  font-size: 0.26rem;
  margin-left: -0.6rem;
}
.container section {
  -webkit-box-flex: 1;
  overflow: auto;
}
.container section .box {
  width: 100%;
  height: 1.27rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container section .box h1 {
  position: relative;
  margin-left: 0.31rem;
}
.container section .box h1 img {
  width: 1.05rem;
  height: auto;
  background: none;
}
.container section .box h2 img {
  width: 0.81rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0.39rem;
  left: 0.44rem;
}
.container section .box p {
  margin-left: 0.2rem;
  -webkit-box-flex: 1;
  margin-top: 0.14rem;
}
.container section .box p span img {
  width: 0.61rem;
  height: auto;
  background: none;
}
.container section .box p b {
  display: block;
  margin-top: 0.1rem;
  color: #fff;
  font-size: 0.22rem;
  font-weight: normal;
}
.container section .box h3 {
  margin-right: 0.21rem;
  margin-top: 0.03rem;
}
.container section .box h3 img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .hgh ol {
  height: 1.27rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.68rem;
  background: none;
}
.container section .hgh ol h1 {
  position: relative;
  margin-left: 0.31rem;
}
.container section .hgh ol h1 img {
  width: 1.05rem;
  height: auto;
  background: none;
}
.container section .hgh ol h2 img {
  width: 0.81rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0.39rem;
  left: 0.44rem;
}
.container section .hgh ol p {
  margin-left: 0.2rem;
  -webkit-box-flex: 1;
  margin-top: 0.14rem;
}
.container section .hgh ol p span img {
  width: 0.61rem;
  height: auto;
  background: none;
}
.container section .hgh ol p b {
  display: block;
  margin-top: 0.1rem;
  color: #fff;
  font-size: 0.22rem;
  font-weight: normal;
}
.container section .hgh ol h3 {
  margin-right: 0.21rem;
  margin-top: 0.03rem;
}
.container section .hgh ol h3 img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .hgh ol li {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 0.68rem;
  width: 2.13rem;
  height: 0.68rem;
  color: #000000;
}
.container section .hgh ol li a:hover {
  display: block;
  width: 2.13rem;
  height: 0.68rem;
  border-bottom: 2px solid #4194f0;
  color: #000000;
}
.container section .main {
  height: 8.49rem;
  background: none;
  margin-top: 0.05rem;
  width: 100%;
  height: 1.27rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container section .main h1 {
  position: relative;
  margin-left: 0.31rem;
}
.container section .main h1 img {
  width: 1.05rem;
  height: auto;
  background: none;
}
.container section .main h2 img {
  width: 0.81rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0.39rem;
  left: 0.44rem;
}
.container section .main p {
  margin-left: 0.2rem;
  -webkit-box-flex: 1;
  margin-top: 0.14rem;
}
.container section .main p span img {
  width: 0.61rem;
  height: auto;
  background: none;
}
.container section .main p b {
  display: block;
  margin-top: 0.1rem;
  color: #fff;
  font-size: 0.22rem;
  font-weight: normal;
}
.container section .main h3 {
  margin-right: 0.21rem;
  margin-top: 0.03rem;
}
.container section .main h3 img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .main .left {
  width: 1.37rem;
  height: 8.49rem;
  background: none;
}
.container section .main .left ul .item {
  width: 1.37rem;
  height: 1.12rem;
  padding-left: 0.17rem;
  box-sizing: border-box;
  line-height: 1.12rem;
  border-bottom: 1px solid #e3e3e3;
  background: #f5f5f5;
  font-size: 0.24rem;
}
.container section .main .left ul .item:hover {
  width: 1.37rem;
  height: 1.12rem;
  background: #ffffff;
  color: #4194f0;
}
.container section .main .right {
  width: 5.04rem;
  height: 8.49rem;
  background: none;
  -webkit-box-flex: 1;
}
.container section .main .right .zh {
  width: 5.04rem;
  height: 0.76rem;
  background: #f5f5f5;
  border-left: 3px solid #d8d8d8;
}
.container section .main .right .zh ul {
  width: 100%;
  height: 1.27rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 5.04rem;
  height: 0.76rem;
  background: #f5f5f5;
}
.container section .main .right .zh ul h1 {
  position: relative;
  margin-left: 0.31rem;
}
.container section .main .right .zh ul h1 img {
  width: 1.05rem;
  height: auto;
  background: none;
}
.container section .main .right .zh ul h2 img {
  width: 0.81rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0.39rem;
  left: 0.44rem;
}
.container section .main .right .zh ul p {
  margin-left: 0.2rem;
  -webkit-box-flex: 1;
  margin-top: 0.14rem;
}
.container section .main .right .zh ul p span img {
  width: 0.61rem;
  height: auto;
  background: none;
}
.container section .main .right .zh ul p b {
  display: block;
  margin-top: 0.1rem;
  color: #fff;
  font-size: 0.22rem;
  font-weight: normal;
}
.container section .main .right .zh ul h3 {
  margin-right: 0.21rem;
  margin-top: 0.03rem;
}
.container section .main .right .zh ul h3 img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .main .right .zh ul li {
  padding-left: 0.26rem;
  width: 0.7rem;
  margin-left: 0.17rem;
  height: 0.43rem;
  background: #fff;
  line-height: 0.45rem;
  margin-top: 0.15rem;
  display: block;
  border-radius: 0.2rem;
  border: 1px solid #666;
  color: #666;
}
.container section .main .right .kk {
  width: 5.04rem;
  height: 1.8rem;
  background: none;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.container section .main .right .kk dl {
  width: 100%;
  height: 1.27rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: white;
  height: 1.7rem;
}
.container section .main .right .kk dl h1 {
  position: relative;
  margin-left: 0.31rem;
}
.container section .main .right .kk dl h1 img {
  width: 1.05rem;
  height: auto;
  background: none;
}
.container section .main .right .kk dl h2 img {
  width: 0.81rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0.39rem;
  left: 0.44rem;
}
.container section .main .right .kk dl p {
  margin-left: 0.2rem;
  -webkit-box-flex: 1;
  margin-top: 0.14rem;
}
.container section .main .right .kk dl p span img {
  width: 0.61rem;
  height: auto;
  background: none;
}
.container section .main .right .kk dl p b {
  display: block;
  margin-top: 0.1rem;
  color: #fff;
  font-size: 0.22rem;
  font-weight: normal;
}
.container section .main .right .kk dl h3 {
  margin-right: 0.21rem;
  margin-top: 0.03rem;
}
.container section .main .right .kk dl h3 img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .main .right .kk dl dt {
  padding-left: 0.21rem;
  padding-top: 0.12rem;
}
.container section .main .right .kk dl dt img {
  width: 1rem;
  height: auto;
  background: none;
}
.container section .main .right .kk dl dd h1 {
  font-size: 0.26rem;
  padding-left: 0.21rem;
  padding-top: 0.12rem;
}
.container section .main .right .kk dl dd h2 {
  padding-left: 0.5rem;
  color: #8B8B8B;
}
.container section .main .right .kk dl dd p {
  padding-left: 4.8rem;
  margin-top: -0.04rem;
  font-size: 0.24rem;
  color: #ff5a64;
}
.container section .main .right .kk dl dd p span {
  padding-left: 0.1rem;
}
.container section .main .right .kk dl dd p b {
  padding-left: 2.7rem;
  margin-top: -0.4rem;
}
.container section .main .right .kk dl dd p b img {
  width: 0.42rem;
  height: auto;
  background: none;
}
.container section .main .right .kk dl p {
  margin-top: 1.37rem;
  margin-left: -4.4rem;
}
.container section .main .right .kk dl p img {
  width: 2.8rem;
  height: auto;
  background: none;
}
.container section .main .right h3 {
  position: absolute;
  top: 2.73rem;
  left: 1.37rem;
}
.container section .main .right h3 img {
  width: 0.65rem;
  height: auto;
  background: none;
}
.container section .main .right .jj {
  width: 5.04rem;
  height: 1.5rem;
  background: none;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.container section .main .right .jj dl {
  width: 100%;
  height: 1.27rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: white;
  height: 1.7rem;
}
.container section .main .right .jj dl h1 {
  position: relative;
  margin-left: 0.31rem;
}
.container section .main .right .jj dl h1 img {
  width: 1.05rem;
  height: auto;
  background: none;
}
.container section .main .right .jj dl h2 img {
  width: 0.81rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0.39rem;
  left: 0.44rem;
}
.container section .main .right .jj dl p {
  margin-left: 0.2rem;
  -webkit-box-flex: 1;
  margin-top: 0.14rem;
}
.container section .main .right .jj dl p span img {
  width: 0.61rem;
  height: auto;
  background: none;
}
.container section .main .right .jj dl p b {
  display: block;
  margin-top: 0.1rem;
  color: #fff;
  font-size: 0.22rem;
  font-weight: normal;
}
.container section .main .right .jj dl h3 {
  margin-right: 0.21rem;
  margin-top: 0.03rem;
}
.container section .main .right .jj dl h3 img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .main .right .jj dl dt {
  padding-left: 0.21rem;
  padding-top: 0.18rem;
}
.container section .main .right .jj dl dt img {
  width: 1rem;
  height: auto;
  background: none;
}
.container section .main .right .jj dl dd h1 {
  font-size: 0.26rem;
  padding-left: 0.21rem;
  padding-top: 0.18rem;
  width: 2.93rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container section .main .right .jj dl dd h2 {
  padding-left: 0.5rem;
  color: #8B8B8B;
}
.container section .main .right .jj dl dd p {
  padding-left: 4.8rem;
  margin-top: -0.04rem;
  font-size: 0.24rem;
  color: #ff5a64;
}
.container section .main .right .jj dl dd p span {
  padding-left: 0.1rem;
}
.container section .main .right .jj dl dd p b {
  padding-left: 2.7rem;
  margin-top: -0.4rem;
}
.container section .main .right .jj dl dd p b img {
  width: 0.42rem;
  height: auto;
  background: none;
}
.container section .main .right .jj dl p {
  margin-top: 1.18rem;
  margin-left: -4.4rem;
}
.container section .main .right .jj dl p img {
  width: 2.8rem;
  height: auto;
  background: none;
}
.container section .main .right .uu {
  width: 5.04rem;
  height: 1.5rem;
  background: none;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.container section .main .right .uu dl {
  width: 100%;
  height: 1.27rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: none;
  height: 1.7rem;
}
.container section .main .right .uu dl h1 {
  position: relative;
  margin-left: 0.31rem;
}
.container section .main .right .uu dl h1 img {
  width: 1.05rem;
  height: auto;
  background: none;
}
.container section .main .right .uu dl h2 img {
  width: 0.81rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0.39rem;
  left: 0.44rem;
}
.container section .main .right .uu dl p {
  margin-left: 0.2rem;
  -webkit-box-flex: 1;
  margin-top: 0.14rem;
}
.container section .main .right .uu dl p span img {
  width: 0.61rem;
  height: auto;
  background: none;
}
.container section .main .right .uu dl p b {
  display: block;
  margin-top: 0.1rem;
  color: #fff;
  font-size: 0.22rem;
  font-weight: normal;
}
.container section .main .right .uu dl h3 {
  margin-right: 0.21rem;
  margin-top: 0.03rem;
}
.container section .main .right .uu dl h3 img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .main .right .uu dl dt {
  padding-left: 0.21rem;
  padding-top: 0.18rem;
}
.container section .main .right .uu dl dt img {
  width: 1rem;
  height: auto;
  background: none;
}
.container section .main .right .uu dl dd h1 {
  font-size: 0.26rem;
  padding-left: 0.21rem;
  padding-top: 0.18rem;
  width: 2.93rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container section .main .right .uu dl dd h2 {
  padding-left: 0.5rem;
  color: #8B8B8B;
}
.container section .main .right .uu dl dd p {
  padding-left: 4.8rem;
  margin-top: -0.04rem;
  font-size: 0.24rem;
  color: #ff5a64;
}
.container section .main .right .uu dl dd p span {
  padding-left: 0.1rem;
}
.container section .main .right .uu dl dd p b {
  padding-left: 2.7rem;
  margin-top: -0.4rem;
}
.container section .main .right .uu dl dd p b img {
  width: 0.42rem;
  height: auto;
  background: none;
}
.container section .main .right .uu dl p {
  margin-top: 1.18rem;
  margin-left: -4.4rem;
}
.container section .main .right .uu dl p img {
  width: 2.8rem;
  height: auto;
  background: none;
}
.container section .main .right h6 {
  position: absolute;
  top: 6.6rem;
  left: 1.85rem;
}
.container section .main .right h6 img {
  width: 0.51rem;
  height: auto;
  background: none;
}
.container section .main .right .ii {
  width: 5.04rem;
  height: 1.5rem;
  background: none;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.container section .main .right .ii dl {
  width: 100%;
  height: 1.27rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: none;
  height: 1.7rem;
}
.container section .main .right .ii dl h1 {
  position: relative;
  margin-left: 0.31rem;
}
.container section .main .right .ii dl h1 img {
  width: 1.05rem;
  height: auto;
  background: none;
}
.container section .main .right .ii dl h2 img {
  width: 0.81rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0.39rem;
  left: 0.44rem;
}
.container section .main .right .ii dl p {
  margin-left: 0.2rem;
  -webkit-box-flex: 1;
  margin-top: 0.14rem;
}
.container section .main .right .ii dl p span img {
  width: 0.61rem;
  height: auto;
  background: none;
}
.container section .main .right .ii dl p b {
  display: block;
  margin-top: 0.1rem;
  color: #fff;
  font-size: 0.22rem;
  font-weight: normal;
}
.container section .main .right .ii dl h3 {
  margin-right: 0.21rem;
  margin-top: 0.03rem;
}
.container section .main .right .ii dl h3 img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .main .right .ii dl dt {
  padding-left: 0.21rem;
  padding-top: 0.18rem;
}
.container section .main .right .ii dl dt img {
  width: 1rem;
  height: auto;
  background: none;
}
.container section .main .right .ii dl dd h1 {
  font-size: 0.26rem;
  padding-left: 0.21rem;
  padding-top: 0.18rem;
  width: 2.93rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container section .main .right .ii dl dd h2 {
  padding-left: 0.5rem;
  color: #8B8B8B;
}
.container section .main .right .ii dl dd p {
  padding-left: 4.8rem;
  margin-top: -0.04rem;
  font-size: 0.24rem;
  color: #ff5a64;
}
.container section .main .right .ii dl dd p span {
  padding-left: 0.1rem;
}
.container section .main .right .ii dl dd p b {
  padding-left: 2.7rem;
  margin-top: -0.4rem;
}
.container section .main .right .ii dl dd p b img {
  width: 0.42rem;
  height: auto;
  background: none;
}
.container section .main .right .ii dl p {
  margin-top: 1.18rem;
  margin-left: -4.4rem;
}
.container section .main .right .ii dl p img {
  width: 2.8rem;
  height: auto;
  background: none;
}
.container section .main .right .xixi {
  width: 5.04rem;
  height: 1.5rem;
  background: none;
  position: relative;
}
.container section .main .right .xixi dl {
  width: 100%;
  height: 1.27rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: none;
  height: 1.7rem;
}
.container section .main .right .xixi dl h1 {
  position: relative;
  margin-left: 0.31rem;
}
.container section .main .right .xixi dl h1 img {
  width: 1.05rem;
  height: auto;
  background: none;
}
.container section .main .right .xixi dl h2 img {
  width: 0.81rem;
  height: auto;
  background: none;
  position: absolute;
  top: 0.39rem;
  left: 0.44rem;
}
.container section .main .right .xixi dl p {
  margin-left: 0.2rem;
  -webkit-box-flex: 1;
  margin-top: 0.14rem;
}
.container section .main .right .xixi dl p span img {
  width: 0.61rem;
  height: auto;
  background: none;
}
.container section .main .right .xixi dl p b {
  display: block;
  margin-top: 0.1rem;
  color: #fff;
  font-size: 0.22rem;
  font-weight: normal;
}
.container section .main .right .xixi dl h3 {
  margin-right: 0.21rem;
  margin-top: 0.03rem;
}
.container section .main .right .xixi dl h3 img {
  width: 0.36rem;
  height: auto;
  background: none;
}
.container section .main .right .xixi dl dt {
  padding-left: 0.21rem;
  padding-top: 0.18rem;
}
.container section .main .right .xixi dl dt img {
  width: 1rem;
  height: auto;
  background: none;
}
.container section .main .right .xixi dl dd h1 {
  font-size: 0.26rem;
  padding-left: 0.21rem;
  padding-top: 0.18rem;
  width: 2.93rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container section .main .right .xixi dl dd h2 {
  padding-left: 0.5rem;
  color: #8B8B8B;
}
.container section .main .right .xixi dl dd p {
  padding-left: 4.8rem;
  margin-top: -0.04rem;
  font-size: 0.24rem;
  color: #ff5a64;
}
.container section .main .right .xixi dl dd p span {
  padding-left: 0.1rem;
}
.container section .main .right .xixi dl dd p b {
  padding-left: 2.7rem;
  margin-top: -0.4rem;
}
.container section .main .right .xixi dl dd p b img {
  width: 0.42rem;
  height: auto;
  background: none;
}
.container section .main .right .xixi dl p {
  margin-top: 1.18rem;
  margin-left: -4.4rem;
}
.container section .main .right .xixi dl p img {
  width: 2.8rem;
  height: auto;
  background: none;
}
.container footer {
  width: 100%;
  height: 0.88rem;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: absolute;
  bottom: 0;
  left: 0;
}
.container footer .car {
  width: 1rem;
  height: 0.88rem;
  background: none;
  background: #393939 url(../img/car.png) no-repeat center center;
  background-size: 0.46rem auto;
  border: 5px solid #4d4d4d;
  border-radius: 50%;
  position: absolute;
  bottom: 0.14rem;
  left: 0.1rem;
}
.container footer .kk {
  position: relative;
  width: 1rem;
  height: 0.88rem;
  background: none;
  background: #4194f0 url(../img/car.png) no-repeat center center;
  background-size: 0.46rem auto;
  border: 5px solid #4d4d4d;
  border-radius: 50%;
  position: absolute;
  bottom: 0.14rem;
  left: 0.1rem;
}
.container footer .kk h1 {
  position: absolute;
  top: rem;
  left: 0;
}
.container footer .kk h1 img {
  width: 0.6rem;
  height: auto;
  background: none;
}
.container footer .zero {
  -webkit-box-flex: 1;
  padding-left: 1.54rem;
  padding-top: 0.2rem;
  color: #d9d9d9;
  font-size: 0.26rem;
}
.container footer .status {
  width: 2.3rem;
  height: 0.88rem;
  background: #535558;
}
.container footer .status P {
  color: #d9d9d9;
  text-align: center;
  line-height: 0.88rem;
  font-size: 0.3rem;
}
.zeng {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.zeng .whm {
  position: relative;
  width: 4.65rem;
  height: 6.1rem;
  background: #ffffff;
  border-radius: 0.2rem;
  left: 50%;
  margin-left: -2.325rem;
  top: 50%;
  margin-top: -3.9rem;
}
.zeng .whm h1 {
  height: 5rem;
  text-align: center;
  margin-top: 0.6rem;
  border-bottom: 1px solid #e3e3e3;
}
.zeng .whm h1 img {
  width: 3.9rem;
  height: auto;
  background: none;
}
.zeng .whm p {
  width: 4.28rem;
  margin-left: 0.35rem;
  margin-top: 0.15rem;
}
.zeng .whm h6 {
  padding-top: 0.05rem;
  padding-right: 0.05rem;
  position: absolute;
  right: 0;
  top: 0;
}
.zeng .whm h6 img {
  width: 0.62rem;
  height: auto;
  background: none;
}
.hm {
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.w {
  width: 100%;
  height: 4.78rem;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
}
.w .one {
  width: 100%;
  height: 0.7rem;
  background: #eeeeee;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: relative;
}
.w .one p {
  line-height: 0.7rem;
  margin-left: 0.24rem;
}
.w .one span {
  display: block;
  padding-left: 5.09rem;
  line-height: 0.7rem;
}
.w .box8 {
  width: 100%;
  height: 1.3rem;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}
.w .box8 .check {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
}
.w .box8 .check input[type='checkbox'] {
  display: none;
}
.w .box8 .check input[type='checkbox'] + label {
  width: .38rem;
  height: .38rem;
  background: url(../img/checked-mark.png) no-repeat bottom;
  background-size: .38rem auto;
  display: block;
}
.w .box8 .check input[type='checkbox']:checked + label {
  background-position: 0 0;
}
.w .box8 h2 {
  padding-left: 0.24rem;
  margin-top: -0.27rem;
}
.w .box8 h2 img {
  width: 0.89rem;
  height: auto;
  background: none;
}
.w .box8 h1 {
  padding-left: 0.25rem;
  width: 1.4rem;
  font-size: 0.24rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.w .box8 ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.32rem;
}
.w .box8 ul li {
  padding-left: 0.2rem;
}
.w .box8 ul li img {
  width: 0.4rem;
  height: auto;
  background: none;
}
.w .box7 {
  width: 100%;
  height: 1.3rem;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}
.w .box7 .check {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
}
.w .box7 .check input[type='checkbox'] {
  display: none;
}
.w .box7 .check input[type='checkbox'] + label {
  width: .38rem;
  height: .38rem;
  background: url(../img/checked-mark.png) no-repeat bottom;
  background-size: .38rem auto;
  display: block;
}
.w .box7 .check input[type='checkbox']:checked + label {
  background-position: 0 0;
}
.w .box7 .check h2 {
  padding-left: 0.24rem;
  margin-top: -0.27rem;
}
.w .box7 .check h2 img {
  width: 0.89rem;
  height: auto;
  background: none;
}
.w .box7 .check h1 {
  padding-left: 0.25rem;
  width: 1.4rem;
  font-size: 0.24rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.w .box7 .check ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.32rem;
}
.w .box7 .check ul li {
  padding-left: 0.2rem;
}
.w .box7 .check ul li img {
  width: 0.4rem;
  height: auto;
  background: none;
}
.w .box6 {
  width: 100%;
  height: 1.3rem;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}
.w .box6 .check {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
}
.w .box6 .check input[type='checkbox'] {
  display: none;
}
.w .box6 .check input[type='checkbox'] + label {
  width: .38rem;
  height: .38rem;
  background: url(../img/checked-mark.png) no-repeat bottom;
  background-size: .38rem auto;
  display: block;
}
.w .box6 .check input[type='checkbox']:checked + label {
  background-position: 0 0;
}
.w .box6 h2 {
  padding-left: 0.24rem;
  margin-top: -0.27rem;
}
.w .box6 h2 img {
  width: 0.89rem;
  height: auto;
  background: none;
}
.w .box6 h1 {
  padding-left: 0.25rem;
  width: 1.4rem;
  font-size: 0.24rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.w .box6 ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.32rem;
}
.w .box6 ul li {
  padding-left: 0.2rem;
}
.w .box6 ul li img {
  width: 0.4rem;
  height: auto;
  background: none;
}
footer .car {
  z-index: 100;
}
.g {
  width: 100%;
  height: 1.33rem;
  background: none;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.g .left {
  width: 2.41rem;
  height: 1.33rem;
  background: none;
}
.g .left p {
  background: none;
  width: 2.42rem;
  border-right: 1px solid #d8d8d8;
  text-align: center;
  height: 0.3rem;
}
.g .da {
  margin-top: 0.2rem;
}
.g .da .top {
  width: 3.18rem;
  height: 0.5rem;
  background: none;
  margin-left: 0.58rem;
  -webkit-box-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.g .da .top .one {
  overflow: hidden;
  width: 60px;
  height: 12px;
  background: url(../img/bbb.png) repeat-x;
  margin-left: 0.15rem;
  margin-right: 0.12rem;
  margin-top: 0.04rem;
}
.g .da .top .one .two {
  height: 12px;
  background: url(../img/aaa.png) repeat-x;
  width: 80%;
}
.g .da .top b {
  display: block;
  color: #ffb82e;
  margin-top: 0.04rem;
}
.xiong {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 1.38rem;
  background: none;
  margin-top: 0.2rem;
  border-bottom: 1px solid #d8d8d8;
}
.xiong .zuo {
  width: 2.96rem;
  height: 1.38rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
}
.xiong .zuo dl {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.xiong .zuo dl dt {
  padding-left: 0.19rem;
  padding-top: 0.18rem;
}
.xiong .zuo dl dt img {
  width: 0.64rem;
  height: auto;
  background: none;
}
.xiong .zuo dl dd {
  -webkit-box-flex: 1;
  padding-left: 0.14rem;
}
.xiong .zuo dl dd p {
  margin-top: 0.25rem;
}
.xiong .zuo dl dd .one {
  overflow: hidden;
  width: 60px;
  height: 12px;
  background: url(../img/bbb.png) repeat-x;
  margin-right: 0.12rem;
  margin-top: 0.04rem;
}
.xiong .zuo dl dd .one .two {
  height: 12px;
  background: url(../img/aaa.png) repeat-x;
  width: 80%;
}
.xiong .zuo dl dd span {
  display: block;
  padding-top: 0.05rem;
}
.xiong h1 {
  padding-right: 0.24rem;
  margin-top: 0.18rem;
  color: #d8d8d8;
}
.xiong1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 1.38rem;
  background: none;
  border-bottom: 1px solid #d8d8d8;
}
.xiong1 .zuo {
  width: 2.96rem;
  height: 1.38rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
}
.xiong1 .zuo dl {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.xiong1 .zuo dl dt {
  padding-left: 0.19rem;
  padding-top: 0.18rem;
}
.xiong1 .zuo dl dt img {
  width: 0.64rem;
  height: auto;
  background: none;
}
.xiong1 .zuo dl dd {
  -webkit-box-flex: 1;
  padding-left: 0.14rem;
}
.xiong1 .zuo dl dd p {
  margin-top: 0.25rem;
}
.xiong1 .zuo dl dd .one {
  overflow: hidden;
  width: 60px;
  height: 12px;
  background: url(../img/bbb.png) repeat-x;
  margin-right: 0.12rem;
  margin-top: 0.04rem;
}
.xiong1 .zuo dl dd .one .two {
  height: 12px;
  background: url(../img/aaa.png) repeat-x;
  width: 80%;
}
.xiong1 .zuo dl dd span {
  display: block;
  padding-top: 0.05rem;
}
.xiong1 h1 {
  padding-right: 0.24rem;
  margin-top: 0.18rem;
  color: #d8d8d8;
}
.qqq {
  width: 100%;
  height: 0.17rem;
  background: #f2f5f7;
  border-bottom: 1px solid #d8d8d8;
}
.ooo {
  width: 100%;
  height: 1.3rem;
  background: none;
  position: relative;
}
.ooo h1 {
  padding-top: 0.19rem;
  padding-left: 0.24rem;
}
.ooo p {
  padding-left: 0.25rem;
  padding-top: 0.05rem;
  width: 5.51rem;
}
.ooo p img {
  width: 0.2rem;
  height: auto;
  background: none;
}
.ooo h3 {
  position: absolute;
  top: 0.57rem;
  right: 0.23rem;
}
.ooo h3 img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.ppp {
  width: 100%;
  height: 0.17rem;
  background: #f2f5f7;
  margin-top: -0.08rem;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}
.iii {
  width: 100%;
  height: 0.79rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  position: relative;
}
.iii p {
  font-size: 0.26rem;
  margin-left: 0.23rem;
}
.iii h2 {
  padding-left: 0.59rem;
  width: 4.39rem;
  color: #8B8B8B;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.iii h3 {
  position: absolute;
  top: 0.2rem;
  right: 0.23rem;
}
.iii h3 img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.mmm {
  width: 100%;
  height: 0.81rem;
  background: none;
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
}
.mmm p {
  width: 5.29rem;
  height: 0.33rem;
  margin-top: 0.25rem;
  margin-left: 0.2rem;
  border-left: 4px solid dodgerblue;
  text-indent: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.26rem;
}
.bbb {
  width: 100%;
  height: 1.18rem;
  background: none;
  border-bottom: 1px solid #d8d8d8;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.bbb dl {
  -webkit-box-flex: 1;
  padding-top: 0.17rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.bbb dl dt {
  padding-left: 0.2rem;
}
.bbb dl dt img {
  width: 0.87rem;
  height: auto;
  background: none;
}
.bbb dl dd {
  padding-left: 0.21rem;
  line-height: 0.8rem;
}
.bbb p {
  line-height: 1.15rem;
  padding-right: 0.51rem;
  color: #4D4D4D;
}
.bbb span {
  display: block;
  padding-right: 0.21rem;
  line-height: 1.15rem;
}
.nnn {
  width: 100%;
  height: 0.8rem;
  background: none;
  border-bottom: 1px solid #d8d8d8;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.nnn p {
  line-height: 0.8rem;
  color: #4D4D4D;
  padding-left: 0.22rem;
}
.nnn span {
  line-height: 0.8rem;
  padding-left: 0.33rem;
  display: block;
  -webkit-box-flex: 1;
  color: #4D4D4D;
}
.nnn h1 {
  line-height: 0.8rem;
  padding-right: 0.22rem;
}
.nnn h1 b {
  padding-left: 0.14rem;
  color: #ff5965;
}
.kkk {
  width: 100%;
  height: 1.46rem;
  background: #f1f5f8;
}
footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
footer p {
  -webkit-box-flex: 1;
  line-height: 0.88rem;
  padding-left: 0.2rem;
  background: #454648;
  color: #fff;
}
footer h1 {
  padding-left: 0.52rem;
  line-height: 0.88rem;
  padding-right: 0.52rem;
  background: #ff8d51;
  color: #fff;
}
.zhe {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
.li {
  width: 5.08rem;
  height: 2.94rem;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.5rem;
  margin-top: -1.4rem;
}
.li p {
  width: 4.4rem;
  padding-top: 0.74rem;
  padding-left: 0.38rem;
}
.li p span {
  color: #1E90FF;
}
.li form {
  margin-top: 0.49rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.li form .zuo {
  width: 2.12rem;
  height: 0.78rem;
  margin-left: 0.3rem;
  outline: none;
  border: 2px solid #007AFF;
  text-align: center;
  color: #007AFF;
}
.li form .you {
  margin-left: 0.2rem;
  width: 2.12rem;
  height: 0.84rem;
  outline: none;
  background: #007AFF;
  border: none;
  text-align: center;
  color: #fff;
}
.my {
  overflow: auto;
}
h6 {
  color: #fff;
  font-size: 0.34rem;
  margin-left: 1.82rem;
}
.one {
  width: 100%;
  height: 0.89rem;
  background: none;
}
.one ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-left: 0.29rem;
}
.one ul li {
  line-height: 0.89rem;
  -webkit-box-flex: 1;
  font-size: 0.28rem;
}
.one ul li:first-child {
  padding-left: 0.47rem;
  color: #007AFF;
  border-bottom: 2px solid #007AFF;
}
.two {
  width: 100%;
  height: 3.13rem;
  background: #f1f5f8;
  margin-top: 0.03rem;
}
.two .ttt {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  width: 6.01rem;
  height: 2.91rem;
  background: none;
  border-left: 4px solid #007AFF;
}
.two .ttt .yi {
  width: 6.01rem;
  height: 0.67rem;
  background: #ffffff;
  border-bottom: 1px solid #d8d8d8;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.two .ttt .yi h1 {
  -webkit-box-flex: 1;
  line-height: 0.67rem;
  padding-left: 0.19rem;
  color: #666666;
}
.two .ttt .yi span {
  color: #666666;
  display: block;
  padding-right: 0.22rem;
  line-height: 0.67rem;
}
.two .ttt .er {
  position: relative;
  width: 6.01rem;
  height: 1.5rem;
  background: #f9f9f9;
  border-bottom: 1px solid #d8d8d8;
}
.two .ttt .er h1 {
  padding-top: 0.15rem;
  padding-left: 0.2rem;
  font-size: 0.28rem;
  font-weight: bold;
}
.two .ttt .er h1 span {
  padding-right: 0.1rem;
}
.two .ttt .er h1 span img {
  width: 0.26rem;
  height: auto;
  background: none;
}
.two .ttt .er h2 {
  padding-top: 0.05rem;
  padding-left: 0.56rem;
  font-size: 0.22rem;
}
.two .ttt .er h2 span {
  padding-right: 0.1rem;
}
.two .ttt .er h2 span img {
  width: 0.26rem;
  height: auto;
  background: none;
}
.two .ttt .er h3 {
  padding-top: 0.05rem;
  padding-left: 0.56rem;
  font-size: 0.22rem;
}
.two .ttt .er h3 span {
  padding-right: 0.1rem;
}
.two .ttt .er h3 span img {
  width: 0.26rem;
  height: auto;
  background: none;
}
.two .ttt .er h4 {
  position: absolute;
  top: 0.58rem;
  right: 0.21rem;
}
.two .ttt .er h4 img {
  width: 0.16rem;
  height: auto;
  background: none;
}
.two .ttt .san {
  width: 6.01rem;
  height: 0.73rem;
  background: #ffffff;
  overflow: hidden;
}
.two .ttt .san h5 {
  margin-left: 4.33rem;
  margin-top: 0.12rem;
  text-align: center;
  width: 1.37rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid #000000;
}
.dian {
  position: relative;
}
.dian h6 {
  position: absolute;
  top: -0.09rem;
  right: 2.95rem;
}
.dian h6 img {
  width: 0.18rem;
  height: auto;
  background: none;
}
